font {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 1.15;
}

font.title {
	color: #8d2424;
	font-size: xxx-large;
}

font.subtitle {
	color: #cc6600;
	font-size: x-large;
}

font.sub-subtitle {
	color: #d9d900;
	font-size: large;
}

font.text {
	letter-spacing: 0.10em;
}

font.note {
	color: #9555c2;
	font-size: small;
}

font.notice {
	color: #9555c2;
	font-size: x-large;
}

img.Easter_Egg {
	width: 320px;
	height: 180px;
	margin-left: 5%;
}

a:-webkit-any-link:not(.dropbtn):not(.nav-item):not(.dropdown-item):not(.zombies-link) {
	color: transparent!important;
}

.zombies-link {
	color: #ff8c00;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15em;
	line-height: 1.15;
	font-weight: bold;
}

font.WIP {
	background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: WIP_animation 6s ease-in-out infinite;
	background-size: 400% 100%;
}

@keyframes WIP_animation {
	0%,100% { background-position: 0 0; }
	50% { background-position: 100% 0; }
}