.hljs.css::before {content: "CSS";}
.hljs.js::before {content: "Javascript";}
.hljs.php::before {content: "PHP";}
.hljs.java::before {content: "Java";}
.hljs.csharp::before {content: "C#";}
.hljs.c::before {content: "C";}
.hljs.cpp::before {content: "C++";}
.hljs.coffeescript::before {content: "Coffeescript";}
.hljs.bash::before {content: "Bash";}
.hljs.bat::before {content: "Batch";}
.hljs.html::before {content: "HTML";}
.hljs.apache::before {content: "Apache";}
.hljs.diff::before {content: "Diff";}
.hljs.http::before {content: "HTTP";}
.hljs.json::before {content: "JSON";}
.hljs.markdown::before {content: "Markdown";}
.hljs.makfile::before {content: "Makefile";}
.hljs.nginx::before {content: "Nginx";}
.hljs.perl::before {content: "Perl";}
.hljs.properties::before {content: "Properties";}
.hljs.ruby::before {content: "Ruby";}
.hljs.python::before {content: "Python";}
.hljs.shell::before {content: "Shell";}
.hljs.sql::before {content: "SQL";}
.hljs.powershell::before {content: "PowerShell";}
.hljs.xml::before {content: "XML";}
.hljs.objectivec::before {content: "Objective-C";}
.hljs.CSS::before {content: "CSS";}
.hljs.py::before {content: "PY";}
.hljs.ts::before {content: "TypeScript";}
.hljs.typescript::before {content: "TypeScript";}
.hljs.scss::before {content: "SCSS";}
.hljs.sass::before {content: "SASS";}
.hljs.less::before {content: "Less CSS";}
.hljs.swift::before {content: "Swift";}
.hljs.autoit::before {content: "AutoIt";}
.hljs.basic::before {content: "BASIC";}
.hljs.lisp::before {content: "Lisp";}
.hljs.lua::before {content: "Lua";}
.hljs.m::before {content: "M";}
.hljs.javascript::before {content: "Javascript";}
.hljs.pascal::before {content: "Pascal";}
.hljs.clean::before {content: "Clean";}
.hljs.erlang::before {content: "Erlang";}
.hljs.fsharp::before {content: "F#";}
.hljs.kotlin::before {content: "Kotlin";}
.hljs.rs::before {content: "Rust";}
.hljs.rust::before {content: "Rust";}
.hljs.hs::before {content: "Haskell";}
.hljs.haskell::before {content: "Haskell";}
.hljs.go::before {content: "GO";}
.hljs.asciidoc::before {content: "AsciiDoc";}
.hljs.yaml::before {content: "YAML";}
.hljs.x86asm::before {content: "x86asm";}
.hljs.C::before {content: "C";}
.hljs.cs::before {content: "C#";}
.hljs.toml::before {content: "TOML";}
.hljs.scheme::before {content: "Scheme";}
.hljs.mips::before {content: "MIPS";}
.hljs.MIPS::before {content: "MIPS";}
.hljs.vb::before {content: "Visual Basic";}
.hljs.VB::before {content: "Visual Basic";}
.hljs.r::before {content: "R";}
.hljs.R::before {content: "R";}